{
    "prefix" : "s!",
    "token" : "Insert Bot Token Here",
    "ownerID" : "Use your USER ID here",
    "MyAnimeListID" : "API List (Not Used)",
    "MyAnimeListSecret" : "Same as the API List Token",
    "vaingloryAPI" : "API KEY HERE"
}
